body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 900px;
  margin: 40px auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
}

.contact-left {
  text-align: left;
}

.contact-right {
  text-align: right;
}
.profile-img {
  width: 140px;          
  height: auto;          
  border-radius: 75%;    
  display: block;
  margin: 15px auto;    
}
