:root {
  --pagecolor: rgb(216, 215, 215);
  --backgroundcolor: rgba(255, 255, 255, 0.651);
}


main {
  background-color: var(--backgroundcolor);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--pagecolor);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;    
  max-width: 900px;
  margin: 40px auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
   font-size: 38px;   
}
h2 {
    font-size: 24px;   
}

.contact-left {
  text-align: left;
}


.contact-right {
  text-align: right;
}
.profile-img {
  width: 140px;          
  height: 140px;         
  border-radius: 50%;    
  display: block;
  margin: 15px auto;
  object-fit: cover;
  object-position: center 20%;
}
.contact-row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
a:focus {
outline: 3px solid gray;
 outline-offset: 3px;
  border-radius: 6px;
}
.coursework-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
   justify-content: space-around;
   font-size: 18px;
}
.coursework-grid ul {
  list-style-type: square;
  padding-left: 20px;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 10px;
    max-width: 100%;
  }
}